
.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-item {
    color: aqua;
}
.menu-item:hover {
    padding: 8px;
    background-color: rgb(220, 243, 228);
    border-radius: 3px;
    
}