:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face{
    font-family: 'Montserrat',;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf,);
    font-family: 'Roboto';
    src: url(../assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}


body {
    background-color: antiquewhite;
    max-width: 100%;
}

h1 {
    font-family: Roboto;
    line-height: 1.1;
}

a, p, h2, h3, h4, h5,label, input, textarea{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;

}

li, menu {
    list-style: none;
}