.home-section {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #f9f9f9; /* Fondo claro para la sección */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(232, 193, 212); /* Color similar al de la navbar */
    margin-bottom: 20px;
}

.home-section p {
    font-family: 'Roboto', sans-serif;
    color: #333; /* Texto en un color oscuro para contraste */
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 10px;
}

.home-section img {
    width: 100%;
    max-width: 800px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}