.home {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    color: rgb(86, 80, 80);
    background-color: #dcbfda;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-home {
    border-radius: 5px;
}